<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.notepubs.web.dao.NoteDao">

	<select id ="getList" resultType="com.notepubs.web.entity.Note">
		select * from Note
		<where>
		<if test="param1 != null and param1 != ''" >
		title Like '%${param1}%' 
		</if>
		<if test="param2 != 0">
		and  myCategoryId = ${param2}
		</if>
		<if test="param3 != 0">
		and  categoryId = ${param3}
		</if>
		<if test="param4 != 0">
		and  languageId = ${param4}
		</if>
		<if test="param5 != 0">
		and  platformId = ${param5}
		</if>
		</where>
	</select> 
	
<!-- 	<select id ="getList" resultType="com.notepubs.web.entity.Note">
		select * from Note
		<if test="param1 != null">
		where title Like '%${param1}%'
		</if>
	</select> -->
	
	<select id ="getHitTopList" resultType="com.notepubs.web.entity.Note">
		select * from Note
		where pub = 1
		order by hit desc
		offset 0 rows 
		fetch next 10 rows only;
	</select>
	
	<select id ="getNewNoteList" resultType="com.notepubs.web.entity.Note">
		select * from Note
		where pub = 1
		order by regDate desc
		offset 0 rows 
		fetch next 10 rows only;
	</select>
	
	
	<select id ="get" resultType="com.notepubs.web.entity.Note">
		select * from Note where id=#{id}
	</select>

	<insert id ="insert" parameterType="com.notepubs.web.entity.Note">
		INSERT INTO Note
	</insert>

	<update id ="update" parameterType="com.notepubs.web.entity.Note">
		UPDATE Note set 
			[title] = #{title},
			[content] = #{content},
			[writerId] = #{writerId},
			[regDate] = #{regDate},
			[hit] = #{hit},
			[order] = #{order}, 
			[pub] = #{pub}, 
			[mycategoryId] = #{mycategoryId}, 
			[memberId] = #{memberId} , 
			[platformId] = #{platformId}, 
			[languageId] = #{languageId}, 
			[categoryId] = #{categoryId}
		where id=#{id} 
	</update>

	<select id ="delete" resultType="com.notepubs.web.entity.Note">
		select * from Note
	</select>
	
		
	<select id ="getViewList" resultType="com.notepubs.web.entity.NoteView">
		select * from NoteView
	</select>
	
</mapper>

