@charset "UTF-8";

.hidden{
	display: none;
}

.btn-like, .btn-normal {
    border: 1px solid #c9c9c9;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}
.btn {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid #dbdfe5;
    border-radius: 4px;
    font-size: 14px;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

/* --- table ---------------------------------------------------------- */
table{	
	display:inline-block;
    border-spacing: 0px;
    border-collapse: separate;
    border: 1px solid #a9a9a9;    
    
    border-top: 2px solid #8cba35;
    
}

table thead td {	
    background: #f5f5f5; 
    min-width: 50px;   
}


table tr{	
    height: 30px;
    
}

table tr:last-child{
    border-bottom: 0 none;
}

table td {	
    border-left: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    padding: 5px;
}

table td:first-child {		
    --border-left: 0 none;
}


/* === sibling navigator ==================================================== */

.sibling-nav li{
	box-sizing:border-box;	
	padding: 15px 25px 15px 50px;
	
	position: relative;
}

.sibling-nav li:first-child{
	background-color: #333333;
}

.sibling-nav li:last-child{
	background-color: #3c4249;
}

.sibling-nav li a,
.sibling-nav li span{
	color:#fff;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}

.sibling-nav li a:before,
.sibling-nav li span:before{
	content:'';
	display: inline-block;
	position: absolute;
	left:13px;
	top:13px;
	width:24px;
	height: 24px;
	border:1px solid #a9a9a9;
	border-radius: 13px;
}

.sibling-nav li:first-child a:before,
.sibling-nav li:first-child span:before{
	background: url(../images/icon-set.png) no-repeat -24px 0px;
}

.sibling-nav li:last-child a:before,
.sibling-nav li:last-child span:before
{
	background: url(../images/icon-set.png) no-repeat -48px 0px;
}

/* ============================================================================= */	
	

/* --- note detail ---------------------------------------------------------- */
.note-detail{
	overflow: hidden;
	/* padding-left: 20px;
	padding-right: 20px; */
	/* margin-top: 45px; */
	
	/* background: #fff;
    margin-top: 10px;
    padding: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto; */
}	

	.note-detail .header{
		padding : 20px 0px 0px 0px;
		flex-direction: column;
	}
	
	.note-detail .title-box{
		text-align: center;
	}
	
	.note-detail .title{
		display: block;
	    white-space: normal;
	    padding-top: 4px;
	    font-weight: normal;
	    font-size: 24px;
	    line-height: 29px;
	    letter-spacing: -1px;
	    word-break: break-word;
	}

	.note-detail .writer-id-box{
		text-align: center;		
		margin-top: 10px;
	}

	.note-detail .writer-id
	{
		display: inline-block;
	    overflow: hidden;
	    position: relative;
	    height: 18px;
	    padding: 0 26px;
	    font-size: 12px;
	    color: #9199A4;
	}

	.note-detail .writer-id::before{
		position: absolute;
		left: 0;
		top: 50%;
		width: 20px;
		height: 1px;
		background-color: #ecf0f5;
		content: '';
	}
	
	.note-detail .writer-id::after{
		position: absolute;
		right: 0;
		top: 50%;
		width: 20px;
		height: 1px;
		background-color: #ecf0f5;
		content: '';
	}

	.note-detail .footer{
		height: 37px;
	    border-top: 1px solid #9199a4;
	    border-bottom: 1px solid #ecf0f5;
	    margin: 29px 0px 0;
	    
	    font-size: 12px;
	    line-height: 38px;
	    color: #9199A4;
	}
	
	.note-detail .item-count-box{
		float:right;
	}
		
	.note-detail .item-count{
		text-decoration: none;
		color: #ec5621;
		margin-left:3px;
	}
		
	.note-detail .item-count:before{
		content: "";
		display: inline-block;		
		vertical-align: middle;
	}
		
	.note-detail .comment-count:before{		
		width:24px;
		height: 24px;		
		background: url("../../images/icon-set.png") no-repeat -288px 0px;
	}
	
	.note-detail .hit-count:before{		
		width:24px;
		height: 24px;		
		background: url("../../images/icon-set.png") no-repeat -768px 0px;
	}
	
	.note-detail .like-count:before{		
		width:18px;
		height: 18px;
		
		background: url("../../images/icon-set.png") no-repeat -126px 0px;
		background-size: 750px 300px;
	}
	
	.note-detail .content{
		/* line-height: 27px;
	    color: #303030;
	    word-break: break-word;
	    font-size: 14px; */
	    width:100%;
	    overflow: hidden;
	    padding: 0 0px 30px;
	    margin: 34px auto 0;
	    max-width: 800px;
	    font-size: 16px;
	    line-height: 27px;
	    color: #303030;
	    word-break: break-word;
	}
	
.note-detail > article,
.note-detail > .comment-list
{
	padding-left: 10px;
	padding-right: 10px;
}

.note-detail > #like-section{
	margin-bottom: 40px;
}

.comment textarea{
	display: none;
	width:100%;
	height: 80px;
}

.comment.edit p{
	display: none;
}

.comment.edit {
	display: none;
}

.comment.edit textarea{
	display: inline-block;
}
	
/* --- note-error -------------------------------------------------------- */
.note-error{
	padding: 30px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.note-error > div{
	border: 1px solid #8cba34;
	border-radius: 5px;
	font-size: 12px;
	padding: 20px;
	text-align: center;
}

.note-error > div > .btn{
	margin-top: 10px;
	cursor: pointer;
}

/* --- note detail form---------------------------------------------------------- */
	.note-detail .title-box input{
		margin-left: auto;
		margin-right: auto;
		width:80%;
		max-width:700px;
	
	    min-height: 36px;
	    height: 36px;
	    line-height: 36px;
	    text-align: center;
	    padding: 0 11px;
	    border: 0px solid #fff;
	    border-bottom: 1px solid #8896aa;
	    font-size: 15px;
	    color: #9199A4;
	    color: #000;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
	
	.note-reg .content{
		padding: 0px;
	}
	.note-reg .content .textarea{	
		width: 100%;
	    min-height: 250px;
	    padding: 10px;
	    border: 1px solid #DBDFE5;
	    font-size: 15px;
	    color: #9199A4;
	    line-height: 17px;
	    color: #000;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
	
	.note-reg .button-box{
		text-align: center;
		margin-top: 10px;		
	}
/* === countable-list ============================================================ */
.item-count:before{
	content:'';
	margin-right:5px;
	display: inline-block;
	vertical-align:middle;
	width:16px;
	height:18px;
	background: url(../images/icon-set.png) no-repeat -292px -3px;
}

.item-count>span:nth-child(2){	
    font-size: 14px;
   	color: #EC5621;
   	margin-left: 5px;
}
/* ------------------------------------------------------- */

.countable-list{
	box-sizing: border-box;
	/* margin-top: 10px; */
    border-top: 1px solid #e2e5e9;
    padding: 10px 0px 10px 0px; 
    font-size: 13px;
}

.countable-list.padding-list{
	margin-top:20px;
	padding-left: 20px;
	padding-right: 20px;
}

	.countable-list > h1{
		padding-bottom: 10px;
    	   	
    	font-size: 15px;
    	font-weight: normal;
    	
    	position: relative;
	}
		
	.countable-list > h1 .count:before{
		content:'';
		margin-right:5px;
		display: inline-block;
		vertical-align:middle;
		width:16px;
		height:18px;
		background: url(../images/icon-set.png) no-repeat -292px -3px;
	}
	
	.countable-list > h1 .count>span:nth-child(2){
	    font-size: 14px;
    	color: #EC5621;
    	margin-left: 5px;
	}
	
	.countable-list > h1 .option{
		position: absolute;
		right: 0px;		
	}
	
	.countable-list > h1 .option a{
		font-size: 13px;
		
		text-decoration: none;
		vertical-align: bottom;
		color: #656565;
	}
	
	.countable-list > h1 .option a:hover{
		font-weight: bold;
	}
	
	.countable-list > h1 .option a.select{
		font-weight: bold;
		
		color: #EC5621;
	}
	
	.countable-list article{		
		position: relative;
	}
	
	.countable-list article>footer>img{
		width:30px;
		height:30px;
		border-radius:15px;
		
		position: absolute;
		left: 0px;
		top: 20px;
	}
	
	.countable-list article>footer>img+span{
		font-size: 13px;
	    color: #9199a4;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}

	.countable-list article>footer>img+span+span{
		padding: 3px 0 0 14px;
	    font-size: 12px;
	    line-height: 13px;
	    color: #9199A4;
	}
	
	.countable-list article>footer+div{		
	    margin-top: 5px;
	    font-size: 14px;
	    line-height: 21px;
	    color: #404040;
	    word-break: break-word;
	}
	
/* --- comment-list -------------------------------------------------------------------- */
	
	.comment-list article{
		padding: 20px 0px 0px 40px;
	}
	
/* --- note-list -------------------------------------------------------------------- */
	.note-list{
		/* font-size: 14px;
		line-height: 19px;
		color:#595959; */
		
		font-family: 'Spoqa Han Sans', sans-serif;
		border-top: none;
	
	}
	
	.note-list > h1 .count:before{		
		width:24px;
		height:24px;
		background: url(../images/icon-set.png) no-repeat -264px 0px;
	}
			
		.note-list ul{
			
		}
			.note-list li{
				position:relative;
				padding: 15px 0px;
				border-bottom: 1px solid #ddd;
			}
			
			
			
			.note-list .title{
								
				font-size: 16px;
				line-height: 21px;
				
				height: 42px;
				/* max-width:calc(100% - 90px); */
				overflow: hidden;	
				font-weight: bold;
			}
			
			.note-list .title a{
				color:#000;
				
				text-decoration: none;
			}
			
			.note-list .thumb-img{
				position:absolute;
				top:0px;
				right:0px;				
								
				width:80px;
				height: 90px;
				overflow: hidden;
				
				padding: 5px;
			    border: 1px solid #e9e9e9;
			    margin-left: 5px;
			    box-sizing: border-box;
			}
			
			.note-list .content {				
				margin-top:5px;
				/* max-width:calc(100% - 90px); */				
				display:-webkit-box;	
				-webkit-box-orient:vertical;
				-webkit-line-clamp:2;
				overflow: hidden;	 
				font-size: 13px;
			    line-height: 23px;
			    color: #5c5c5c;
			    vertical-align: top;
			    word-break: break-all;			
			}
			
			.note-list .footer{
				margin-top: 10px;
			}
			
			/* .note-list .footer > span+span:before{
				float:left;	
			    width: 2px;
			    height: 2px;
			    border-radius: 2px;
			    margin: 9px 6px 0 0;
			    background-color: #9199a4;
			    vertical-align: top;
			    content: '';
			} */
			
	.note-list .regdate:before{
		width: 2px;
	    height: 2px;
	    border-radius: 2px;
	    margin: 9px 6px 0 0;
	    background-color: #9199a4;
	    vertical-align: top;
	    content: '';
	}
	
	.note-list .hit{
		/* float: right; */
		margin-left: 5px;
	}
	
	.note-list .hit:before{
		display: inline-block;
		vertical-align: middle;
		content: '';
		width: 18px;
		height: 18px;
		background: url("../../images/icon-set.png") no-repeat -576px 0px;
		background-size: 600px 300px;
	}
	
	.note-list .like{
		/* float: right; */	
		margin-left: 5px;	
	}
	
	.note-list .like:before{
		display: inline-block;
		vertical-align: middle;
		content: '';
		width: 18px;
		height: 18px;
		background: url("../../images/icon-set.png") no-repeat -126px 0px;
		background-size: 750px 300px;
	}
	
	.note-list .comment-count{		
		/* float: right; */
	}
	
	.note-list .comment-count:before{		
		display: inline-block;
		vertical-align: middle;
		content: '';
		width:24px;
		height: 24px;
		background: url("../../images/icon-set.png") no-repeat -288px 0px;
	}
	
	.note-list .comment-count:after{
		display:inline-block;
		content: '';		
		clear:both;
	}
	
	.note-list .management{
		clear: both;
	}