@charset "UTF-8";

#footer{
	height: 150px;
	background:#fff;
	padding:50px 60px;
}


/* === responsive ===================================== */
@media (max-width: 1149px) {

}

@media (max-width:576px ) {

}


/* @media (min-width: 30em) and (max-width: 50em) { ... } */