@charset "UTF-8";
@import url("../reset.css");
@import url("../style.css");
@import url("../util.css");
@import url("../content.css");
@import url("header.css");
@import url("aside.css");
@import url("footer.css");

html, body{
	height: 100%;
	width:100%;
	font-family: "나눔고딕", "고딕", sans-serif;
	color:#494949;
}

a{
	color:#494949;
}

body{
	display: flex;
	flex-direction: column;
	
}

/* === header =========================================================== */

body{	
	display: flex;
	flex-direction: column;
}

/* === header =========================================================== */
.header{
	flex-shrink:0;
	display:flex;
	justify-content:space-between;
	padding:0px 20px;
	align-items:center;
	height: 70px;
	background: #fff;
	font-family: "Noto Sans Medium", AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
	
	transition: height 1s;
}

	.logo{
		width:113px;
		height:28px;
		background: url("/images/logo-ldpi.png") no-repeat center;
	}


/* 	#header{
		height: 45px;
		min-height:45px;
		padding: 10px;
		
		background:#fff;
		border-bottom:1px solid #eee;
		
		display:flex;
		justify-content: space-between;
		align-items: center;
		
		position: sticky;
		top:0px;
	}
	
		#main-menu>h1{
			display: none;	 
		}
		
		#main-menu>ul{
			display: flex;		
		}
		
		#main-menu li{
			padding-left: 39px;
			--background: url("/images/bg-main-menu-sp.png") no-repeat 19px center;
		}
		
		#main-menu li:first-child{
			padding-left: 0px;
		} */
	/* ================================================================ */
	#body{
		flex-grow: 1;
		
		display: flex;
		
		
	}
		#aside{
		
			position:fixed;
			left:-120px;
			
			padding-top: 20px;
			
			min-width:120px;
			height:100%;
			
			background: #f5f5f5;
			z-index:999;
			
			transition: 500ms left;
		}
		
		#aside.show{
			left:0px;
		}
		
		#aside>h1{
			display: none;
		}
		
		#aside>ul{		
		}
		
		#aside li{
			
			height: 40px;
			
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		#aside a{
			font-size: 18px;
		}
		
		main{
			flex-grow: 1;	
			width:100%;	
		}
	
	/* ================================================================ */
		
	#footer{
		display:flex;
		flex-direction:column;
		
		background: #222;	
	}
	
	#footer>h1{
		order:2;
		
		overflow:hidden;
		text-indent:-999px;
		height: 55px;
		min-height: 55px;
		--background: #000 url(/images/logo-invert.png) no-repeat center;
	}
	
	#footer>h1+div{
		order:1;
		height: 110px;
		min-height: 110px;
		
		font-size: 14px;
	}
	
	#footer>h1+div>div:nth-child(1) {
		height: 50px;
		text-align: center;
		color:#e9e9e9;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
	}
	
	#footer>h1+div>div:nth-child(2) {
		height: 60px;
		text-align: center;
		color:#797979;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
	}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media screen and (min-width: 620px){

	#recent-articles-box {
	    --display: flex;
	    flex-wrap: nowrap;
	    overflow:visible;
	    --margin-top: 100px;
	    justify-content: center;
	    
	}

	/* #aside{
		position:static;
		left:0px;
	} */
	
	/* #ham-button{
		display: none;
	} */
}

@media screen and (min-width: 900px) and (max-width: 1199px) {  
/* 	
	#header{
		height: 80px;
		min-height:80px;
		padding: 0px 55px 0px 120px;
		
		background:#fff;
		border-bottom:1px solid #eee;
		
		display:flex;
		justify-content: space-between;
		align-items: center;
		
		position: sticky;
	}
	
		#main-menu>h1{
			display: none;	 
		}
		
		#main-menu>ul{
			display: flex;		
		}
		
		#main-menu li{
			padding-left: 39px;
			background: url("/images/bg-main-menu-sp.png") no-repeat 19px center;
		}
		
		#main-menu li:first-child{
			padding-left: 0px;		
		}
	================================================================
	#body{	
		flex-grow: 1;
		
		display: flex;
		
		
	}
		#aside{
			padding-top: 20px;
			
			min-width:120px;
			height:100%;
			
			background: #f5f5f5;
		}
		
		#aside>h1{
			display: none;
		}
		
		#aside>ul{		
		}
		
		#aside li{
			
			height: 40px;
			
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		#aside a{
			font-size: 18px;
		}
		
		main{
			flex-grow: 1;		
		}
	
	================================================================
		
	#footer{
		display:flex;
		flex-direction:column;
		
		background: #222;	
	}
	
	#footer>h1{
		order:2;
		
		overflow:hidden;
		text-indent:-999px;
		height: 55px;
		min-height: 55px;
		background: #000 url(/images/logo-invert.png) no-repeat center;
	}
	
	#footer>h1+div{
		order:1;
		height: 110px;
		min-height: 110px;
		
		font-size: 14px;
	}
	
	#footer>h1+div>div:nth-child(1) {
		height: 50px;
		text-align: center;
		color:#e9e9e9;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
	}
	
	#footer>h1+div>div:nth-child(2) {
		height: 60px;
		text-align: center;
		color:#797979;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
	}
	 */
}		

@media screen and (min-width: 1200px) {
  
}







